<div
  style="display: flex; align-items: center; justify-content: space-between;"
>
  <div></div>
  <div>
    <mat-icon
      class="material-icons-outlined"
      [matBadge]="notificationCount"
      matBadgeColor="warn"
      >notifications</mat-icon
    >
    <mat-icon
      class="material-icons-outlined"
      [matBadge]="messageCount"
      matBadgeColor="warn"
      >email</mat-icon
    >
    <mat-icon class="material-icons-outlined">settings</mat-icon>
    <mat-icon class="material-icons-outlined">account_circle</mat-icon>Johnny
    Sample
  </div>
</div>
