<mat-toolbar style="display: flex; height: 56px;" class="mat-elevation-z4">
  <div
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    "
  >
    <div>
      <button mat-icon-button color="primary" (click)="toggleMainSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div style="display: flex; align-items: center;">
      <button mat-icon-button color="primary">
        <mat-icon
          class="material-icons-outlined"
          [matBadge]="notificationCount"
          matBadgeColor="warn"
          >notifications</mat-icon
        >
      </button>

      <button mat-icon-button color="primary">
        <mat-icon
          class="material-icons-outlined"
          [matBadge]="messageCount"
          matBadgeColor="warn"
          >email</mat-icon
        >
      </button>

      <button mat-icon-button color="primary">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
      </button>

      <button mat-button color="primary" style="font-size: 12px;">
        <mat-icon class="material-icons-outlined">account_circle</mat-icon>
        Johnny Sample
      </button>
    </div>
  </div>
</mat-toolbar>
