::ng-deep
  .mat-badge-small.mat-badge-overlap.mat-badge-after
  .mat-badge-content {
  border: 1.5px solid grey;
}

::ng-deep
  .mat-badge-medium.mat-badge-overlap.mat-badge-after
  .mat-badge-content {
  border: 1.5px solid grey;
}

::ng-deep
  .mat-badge-small.mat-badge-overlap.mat-badge-after
  .mat-badge-content {
  right: -10px;
}

::ng-deep
  .mat-badge-medium.mat-badge-overlap.mat-badge-after
  .mat-badge-content {
  right: -15px;
}
