<mat-drawer-container class="rrp-drawer-container">
  <mat-drawer
    #drawer
    [opened]="true"
    mode="side"
    class="sidenav mat-elevation-z4"
    [style.width]="isWide ? '200px' : '70px'"
  >
    <div>
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
        "
      >
        *** LOGO ***
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content [style.margin-left]="isWide ? '200px' : '70px'">
    <rrp-header style="position: sticky; top: 0px; z-index: 777;"></rrp-header>

    <div style="flex: 1 0 auto; padding: 20px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
