@import 'src/assets/themes/custom-theme.scss';

.rrp-drawer-container {
  min-height: 100vh;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
}

.sidenav {
  background-color: mat-color($dynamic-theme-primary, 700);
  color: white;
}

.sidenav-btn {
  margin-right: 10px;
  font-size: 20px;
  height: 20px;
  width: 20px;
  border-radius: 0;
}

.sidenav-active-btn {
  background-color: mat-color($dynamic-theme-accent, 500);
  border-radius: 0;
}
