@import 'src/assets/themes/custom-theme.scss';

.rrp-drawer-container {
  min-height: 100vh;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
}

.sidenav {
  background-color: mat-color($dynamic-theme-primary, 500);
  color: white;
}

.sidenav-btn {
  margin-right: 10px;
  font-size: 20px;
  height: 20px;
  width: 20px;
  border-radius: 0;
}

.sidenav-btn + span {
  font-weight: 300;
}

.sidenav-active-btn {
  background-color: mat-color($dynamic-theme-accent, 500);
  border-radius: 0;
}

.color-btn {
  width: 30px;
  height: 30px;
  border: 1.5px solid mat-color($rrp_grey, 100);
  border-radius: 50%;
}

.search-drawer {
  min-width: 300px;
}

.search-wrap {
  display: flex;
  padding: 15px;
}
