<mat-drawer-container class="rrp-drawer-container">
  <mat-drawer
    #mainDrawer
    [opened]="true"
    mode="side"
    class="sidenav mat-elevation-z4"
    [style.width]="isSidebarWide ? '200px' : '50px'"
  >
    <div
      *ngIf="isSidebarWide; else showSmallSidebar"
      style="display: flex; flex-direction: column; height: 100%;"
    >
      <div style="display: flex; justify-content: center;">
        <img
          src="assets/images/javelin_logo_concept_light.png"
          class="javelin-logo"
          [routerLink]="['/']"
        />
      </div>

      <button
        mat-button
        [routerLink]="['/']"
        [routerLinkActive]="['sidenav-active-btn']"
        [routerLinkActiveOptions]="{ exact: true }"
        style="display: flex; height: 50px;"
      >
        <mat-icon class="material-icons-outlined sidenav-btn">home</mat-icon>
        <span>Dashboard</span>
      </button>
      <button
        mat-button
        [routerLink]="['/projects']"
        [routerLinkActive]="['sidenav-active-btn']"
        style="display: flex; height: 50px;"
      >
        <mat-icon class="material-icons-outlined sidenav-btn">folder</mat-icon>
        <span>Projects</span>
      </button>
      <button
        mat-button
        [routerLink]="['/tasks']"
        [routerLinkActive]="['sidenav-active-btn']"
        style="display: flex; height: 50px;"
      >
        <mat-icon class="material-icons-outlined sidenav-btn"
          >playlist_add_check</mat-icon
        >
        <span>Tasks</span>
      </button>
      <button
        mat-button
        [routerLink]="['/metrics']"
        [routerLinkActive]="['sidenav-active-btn']"
        style="display: flex; height: 50px;"
      >
        <mat-icon class="material-icons-outlined sidenav-btn"
          >bar_chart</mat-icon
        >
        <span>Metrics</span>
      </button>

      <div style="margin-top: auto;">
        <p
          style="
            display: flex;
            justify-content: center;
            color: #ffffff78;
            font-size: 12px;
          "
        >
          {{ version }}
        </p>
      </div>
    </div>
    <ng-template #showSmallSidebar>
      <div style="display: flex; flex-direction: column; height: 100%;">
        <div style="display: flex; justify-content: center;">
          <img
            src="assets/images/javelin_icon.png"
            class="first-icon"
            [routerLink]="['/']"
            class="javelin-icon"
          />
        </div>

        <button
          mat-button
          [routerLink]="['/']"
          [routerLinkActive]="['sidenav-active-btn']"
          [routerLinkActiveOptions]="{ exact: true }"
          style="display: flex; height: 50px; min-width: unset !important;"
        >
          <mat-icon
            class="material-icons-outlined sidenav-btn"
            matTooltip="Dashboard"
            matTooltipPosition="after"
            >home</mat-icon
          >
        </button>
        <button
          mat-button
          [routerLink]="['/projects']"
          [routerLinkActive]="['sidenav-active-btn']"
          style="display: flex; height: 50px; min-width: unset !important;"
        >
          <mat-icon
            class="material-icons-outlined sidenav-btn"
            matTooltip="Projects"
            matTooltipPosition="right"
            >folder</mat-icon
          >
        </button>
        <button
          mat-button
          [routerLink]="['/tasks']"
          [routerLinkActive]="['sidenav-active-btn']"
          style="display: flex; height: 50px; min-width: unset !important;"
        >
          <mat-icon
            class="material-icons-outlined sidenav-btn"
            matTooltip="Tasks"
            matTooltipPosition="right"
            >playlist_add_check</mat-icon
          >
        </button>
        <button
          mat-button
          [routerLink]="['/metrics']"
          [routerLinkActive]="['sidenav-active-btn']"
          style="display: flex; height: 50px; min-width: unset !important;"
        >
          <mat-icon
            class="material-icons-outlined sidenav-btn"
            matTooltip="Metrics"
            matTooltipPosition="right"
            >bar_chart</mat-icon
          >
        </button>

        <div
          style="
            display: flex;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: 2px;
          "
        >
          <button
            mat-button
            style="display: flex; height: 50px; min-width: unset !important;"
          >
            <mat-icon
              class="material-icons-outlined sidenav-btn"
              [matTooltip]="version"
              matTooltipPosition="right"
              >help_outline</mat-icon
            >
          </button>
        </div>
      </div>
    </ng-template>
  </mat-drawer>

  <mat-drawer #settingsDrawer mode="over" position="end">
    <div style="display: flex; flex-direction: column; padding: 30px;">
      <h2>System Settings</h2>

      <form [formGroup]="settingsFormGroup">
        <div style="display: flex; flex-direction: column;">
          <fieldset>
            <legend>Phase</legend>
            <mat-radio-group
              aria-label="Select an option"
              formControlName="phase"
            >
              <mat-radio-button
                *ngFor="let op of example1Options"
                [value]="op.id"
                name="opList"
                style="margin: 10px;"
                >{{ op.name }}</mat-radio-button
              >
            </mat-radio-group>
          </fieldset>

          <fieldset class="top-margin">
            <legend>Status</legend>
            <mat-radio-group
              aria-label="Select an option"
              formControlName="status"
            >
              <mat-radio-button
                *ngFor="let op of example2Options"
                [value]="op.id"
                name="opList"
                style="margin: 10px;"
                >{{ op.name }}</mat-radio-button
              >
            </mat-radio-group>
          </fieldset>

          <div class="top-margin">
            <mat-slide-toggle
              style="margin: 10px;"
              formControlName="slideToggle1"
              [checked]="settingsFormGroup.controls.slideToggle1?.value"
            >
              Option 1</mat-slide-toggle
            >
          </div>

          <div class="top-margin">
            <mat-slide-toggle
              style="margin: 10px;"
              formControlName="slideToggle2"
              [checked]="settingsFormGroup.controls.slideToggle2?.value"
            >
              Option 2</mat-slide-toggle
            >
          </div>

          <fieldset class="top-margin">
            <legend>Primary Color</legend>
            <button mat-button (click)="setPrimary('#d63031')">Red</button>
            <button mat-button (click)="setPrimary('#344e5c')">Blue</button>
            <button mat-button (click)="setPrimary('#00b894')">Green</button>
          </fieldset>

          <fieldset class="top-margin">
            <legend>Secondary Color</legend>
            <button mat-button (click)="setSecondary('#ffeaa7')">Yellow</button>
            <button mat-button (click)="setSecondary('#74b9ff')">Blue</button>
            <button mat-button (click)="setSecondary('#a29bfe')">Purple</button>
          </fieldset>
        </div>

        <div class="top-margin">
          <button
            mat-raised-button
            color="accent"
            style="width: 100%;"
            (click)="saveSettings()"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </mat-drawer>

  <mat-drawer-content
    [style.margin-left]="isSidebarWide ? '200px' : '50px'"
    style="height: 100vh; background-color: #f0f0f0;"
  >
    <rrp-header style="position: sticky; top: 0px; z-index: 777;"></rrp-header>

    <div style="flex: 1 0 auto; padding: 20px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
