@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import "src/assets/themes/custom-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grey-header1 {
  color: mat-color($rrp_grey, 500) !important;
}

.javelin-logo {
  padding: 12px;
  width: 80px;
  outline: none;
}

.javelin-icon {
  padding: 15px 0;
  width: 22px;
  height: 28px;
  outline: none;
}

.top-margin {
  margin-top: 20px;
}

.header-title {
  font-weight: 400;
}

// .table-filter-bar {
//   font-size: 14px;
//   width: 100%;
// }

.table-filter-bar {
  font-size: 14px;
  width: 100%;
  flex: 3 0 0;
}

fieldset {
  display: flex;
  padding: 0 10px 10px;
  border: 1px solid #666;
  border-radius: 4px;
}

legend {
  width: auto;
  font-size: 14px;
  padding: 2px 4px;
  background: #fff;
}

fieldset > legend {
  float: left;
  margin-top: -20px;
}

fieldset > legend + * {
  clear: both;
}

.top-margin {
  margin-top: 20px;
}

.form-container {
  margin-top: 10px;
}

.form-container .mat-form-field + .mat-form-field {
  margin-left: 10px;
}

mat-dialog-container {
  border-radius: 0px !important;
}

mat-form-field {
  margin-bottom: 10px;
}

.tooltip-newline {
  white-space: pre-line;
}

.table-actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -16px;
}

.table-actions-btns {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.table-header-btns {
  margin-left: 5px;
}

// GLOBAL TABLE STYLING
table {
  border-collapse: separate !important;
  // width: 100%;
  table-layout: fixed;
}

.table-container {
  overflow: auto;
  width: 100%;

  // height: 100%;
  max-height: calc(100vh - 305px);
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
  width: 100% !important;
  background-color: #f7f7f7;

  max-width: 60px !important;
}

th.mat-header-cell,
td.mat-cell {
  box-sizing: border-box;
}

::ng-deep .mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-menu-item {
  line-height: 35px !important;
  height: 35px !important;
}

.disabled-color {
  color: #bdbdbd !important;
}
