@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import "src/assets/themes/custom-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grey-header1 {
  color: mat-color($rrp_grey, 500) !important;
}

.javelin-logo {
  padding: 12px;
  width: 80px;
  outline: none;
}

.javelin-icon {
  padding: 15px 0;
  width: 22px;
  height: 28px;
  outline: none;
}

.top-margin {
  margin-top: 20px;
}
