$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$rrp_blue: (
  50: #e7eaeb,
  100: #c2cace,
  200: #9aa7ae,
  300: #71838d,
  400: #526974,
  500: #344e5c,
  600: #2f4754,
  700: #273d4a,
  800: #213541,
  900: #152530,
  A100: #71c1ff,
  A200: #3eabff,
  A400: #0b95ff,
  A700: #0088f1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$rrp_green: (
  50: #e0f6f2,
  100: #b3eadf,
  200: #80dcca,
  300: #4dcdb4,
  400: #26c3a4,
  500: #00b894,
  600: #00b18c,
  700: #00a881,
  800: #00a077,
  900: #009165,
  A100: #bdffe7,
  A200: #8affd5,
  A400: #57ffc3,
  A700: #3dffba,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$rrp_peach: (
  50: #fff9f5,
  100: #fff0e6,
  200: #ffe7d5,
  300: #feddc4,
  400: #fed5b8,
  500: #feceab,
  600: #fec9a4,
  700: #fec29a,
  800: #febc91,
  900: #fdb080,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$rrp_coral: (
  50: #fff0ef,
  100: #ffdad8,
  200: #ffc2be,
  300: #ffa9a3,
  400: #ff9690,
  500: #ff847c,
  600: #ff7c74,
  700: #ff7169,
  800: #ff675f,
  900: #ff544c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff3f2,
  A700: #ffdad9,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$rrp_red: (
  50: #fce9ec,
  100: #f8c9cf,
  200: #f4a5af,
  300: #ef808f,
  400: #eb6577,
  500: #e84a5f,
  600: #e54357,
  700: #e23a4d,
  800: #de3243,
  900: #d82232,
  A100: #ffffff,
  A200: #ffdfe1,
  A400: #ffacb2,
  A700: #ff929a,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$rrp_pink: (
  50: #fbefef,
  100: #f4d6d6,
  200: #edbbbb,
  300: #e6a0a0,
  400: #e08b8b,
  500: #db7777,
  600: #d76f6f,
  700: #d26464,
  800: #cd5a5a,
  900: #c44747,
  A100: #ffffff,
  A200: #ffe8e8,
  A400: #ffb5b5,
  A700: #ff9c9c,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$rrp_grey: (
  50: #eeeeee,
  100: #d5d5d5,
  200: #b9b9b9,
  300: #9c9c9c,
  400: #878787,
  500: #727272,
  600: #6a6a6a,
  700: #5f5f5f,
  800: #555555,
  900: #424242,
  A100: #f6abab,
  A200: #f17d7d,
  A400: #ff3b3b,
  A700: #ff2222,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
