$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$rrp_blue: (
  50: #e7eaeb,
  100: #c2cace,
  200: #9aa7ae,
  300: #71838d,
  400: #526974,
  500: #344e5c,
  600: #2f4754,
  700: #273d4a,
  800: #213541,
  900: #152530,
  A100: #71c1ff,
  A200: #3eabff,
  A400: #0b95ff,
  A700: #0088f1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: #000000,
    A200: #000000,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$rrp_green: (
  50: #e0f6f2,
  100: #b3eadf,
  200: #80dcca,
  300: #4dcdb4,
  400: #26c3a4,
  500: #00b894,
  600: #00b18c,
  700: #00a881,
  800: #00a077,
  900: #009165,
  A100: #bdffe7,
  A200: #8affd5,
  A400: #57ffc3,
  A700: #3dffba,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$rrp_peach: (
  50: #fff9f5,
  100: #fff0e6,
  200: #ffe7d5,
  300: #feddc4,
  400: #fed5b8,
  500: #feceab,
  600: #fec9a4,
  700: #fec29a,
  800: #febc91,
  900: #fdb080,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$rrp_coral: (
  50: #fff0ef,
  100: #ffdad8,
  200: #ffc2be,
  300: #ffa9a3,
  400: #ff9690,
  500: #ff847c,
  600: #ff7c74,
  700: #ff7169,
  800: #ff675f,
  900: #ff544c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff3f2,
  A700: #ffdad9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$rrp_red: (
  50: #fce9ec,
  100: #f8c9cf,
  200: #f4a5af,
  300: #ef808f,
  400: #eb6577,
  500: #e84a5f,
  600: #e54357,
  700: #e23a4d,
  800: #de3243,
  900: #d82232,
  A100: #ffffff,
  A200: #ffdfe1,
  A400: #ffacb2,
  A700: #ff929a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
