@import "~@angular/material/theming";
@import "src/assets/themes/colors.scss";

@include mat-core();

$custom-theme-primary: mat-palette($rrp_blue, 500, A100, A400);
$custom-theme-accent: mat-palette($rrp_green, 500, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme(
  $custom-theme-primary,
  $custom-theme-accent,
  $custom-theme-warn
);

@include angular-material-theme($custom-theme);
